<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to text Analyzer web application</h1>
    <form action="/analyze" method="get"> 
        <textarea name="text" style="width: 749px;height:75px;"></textarea><br>
        <input type="checkbox"  name="mycheckbox">Remove pucutation<br><br>
        <input type="checkbox"  name="upbox">Convert to UpperCase<br><br>
        <input type="checkbox"  name="lowbox">Lower Case<br><br>
        <input type="checkbox"  name="charbox">Count number of cahracters<br><br>
        <button type="submit" >Analyze Text</button>
    </form>
    
</body>
</html>